*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
  text-decoration: none;
}

body {
  background-color: #FEF;
  color: $color-primary-text;
  font-family: 'Exo', sans-serif;
  font-size: 1.1em;
  font-smooth: always;
  font-smoothing: antialiased;
  line-height: 1.666em;
  maxWidth: 100vw;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
