@keyframes loading {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

.status::after {
  font-size: 10vw;
}

.loading::after {
  content: '';
  animation: loading 800ms infinite forwards;
}

.failure::after {
  content: 'âŒ';
}
