.post {
  border-bottom: 1px color($ocean-blue a(20%)) solid;

  &.white {
    background-color: white;
    border-bottom: 0;
    border-radius: 3px;
  }
}

.thumbnail {
  border-radius: 50%;
}

.author {
  color: $ocean-blue;
  font-weight: bolder;
}

.numComments,
.ups,
.downs {
  align-items: center;
  display: flex;
  margin-right: 20px;

  &::before {
    margin-right: 5px;
  }
}

.numComments::before {
  content: '📝';
}

.ups::before {
  content: '♥️';
}

.downs::before {
  content: '⬇️';
}
