.post {
  border-bottom: 1px color($ocean-blue a(20%)) solid;
}

.thumbnail {
  border-radius: 50%;
}

.author {
  color: $ocean-blue;
  font-weight: bolder;
}

.numComments,
.ups,
.downs {
  margin-right: 20px;
  display: flex;
  align-items: center;

  &::before {
    margin-right: 5px;
  }
}

.numComments::before {
  content: '📝';
}

.ups::before {
  content: '♥️';
}

.downs::before {
  content: '⬇️';
}
